[submodule "src/ugv_sdk"]
	path = src/ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk.git
	branch = main
[submodule "src/scout_ros2"]
	path = src/scout_ros2
	url = https://github.com/self-navigation/scout_ros2.git
	branch = main
[submodule "src/rudn-ordjo-building"]
	path = src/rudn-ordjo-building
	url = https://github.com/self-navigation/rudn-ordjo-building.git
	branch = main
[submodule "src/ch10x-imu-driver"]
	path = src/ch10x-imu-driver
	url = https://github.com/self-navigation/ch10x-imu-driver.git
	branch = main
[submodule "src/rslidar_sdk"]
	path = src/rslidar_sdk
	url = https://github.com/self-navigation/rslidar_sdk.git
[submodule "acados/acados"]
	path = acados/acados
	url = https://github.com/acados/acados.git
[submodule "acados/tera_renderer"]
	path = acados/tera_renderer
	url = https://github.com/acados/tera_renderer.git
[submodule "depend/scikit-fmm"]
	path = depend/scikit-fmm
	url = https://github.com/self-navigation/scikit-fmm.git
